* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-color: #B0B0B0;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.title {
    font-size: 45px;
    padding: 20px 0;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    overflow: hidden;
    width: 0;
    white-space: nowrap;
    animation: typing 2.5s forwards;
}



@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

.githubIcon {
    margin-top: -25px;
    margin-right: 10px;
}



main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculatorContainer {
    border: 5px solid #524e4e;
    min-width: 470px;
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 25%;
}



.numpadContainer{
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 100%;
    background-color:#000000;
    padding: 15px 20px;
}

.screen {
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    flex: 0 1 100%;
    font-size: 40px;
    background-color: #524e4e;
    border: 20px solid black;
    color:#fff;
    padding: 0 35px;
    padding-bottom: 5px;
}


.numpad{
    display:flex;
    justify-content: center;
    align-items: center;
    flex: 0 1 25%;
    height: 85px;
    border: 5px solid black;
    border-radius: 50%;
    cursor: pointer;
    background-color: #524e4e;
    color: white;
    font-size: 25px;
    transition: all .1s ease;
}



.ac, .backspace, .zero {
    flex: 0 1 50%;
    border-radius: 50px;
}



.blue {
    background-color: #1e81b0;
}

.grey {
    background-color: #b0b0b0;
    color: black;
}

.clicked {
    transform: scale(1.03);
    background-color: rgb(198, 198, 198)
  }


.signChange, .power {
    font-size: 25px;
}

.exponent {
    font-size: 15px;
    margin-top: -15px;
}